@model List<ApplicationCore.Models.Request.MoviePurchaseRequestModel>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <ul class="list-group">
        <li class="list-group-item">Show Movie Title</li>
        <li class="list-group-item">Show Movie Price</li>
        <li class="list-group-item">Show Account Balance</li>
    </ul>
    <button type="button" class="btn btn-primary btn-lg">Buy</button>
    <button type="button" class="btn btn-secondary btn-lg">Later</button>
</div>
