<!-- <p>Nav bar works!</p> -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand"[routerLink]="['']">Movie Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item dropdown">
                        <div ngbDropdown class="d-inline-block">
                            <a class="nav-link" ngbDropdownToggle>Genres</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <app-genres></app-genres>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"[routerLink]="['privacy']" >Privacy</a>
                    </li>

                    <li class="nav-item dropdown"*ngIf="isAuthenticated">
                        <div ngbDropdown class="d-inline-block">
                            <u class="nav-link text-primary" ngbDropdownToggle>Hello, {{currentUserName}}</u>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <ul class="list-unstyled p-2">
                                    <li class='m-1'>{{currentUser?.email}}</li>
                                    <div class="dropdown-divider"></div>
                                    <!-- <li class='m-1'><s>Update MyProfile</s></li> -->
                                    <li class='m-1'><a (click)="logOut()" [routerLink]="['/login']" >Switch Account</a></li>
                                    <li class='m-1'><a (click)="logOut()" [routerLink]="['']" >Logout</a></li>  
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>   
                <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->

            <div class="nav-item me-2" *ngIf="!isAuthenticated">
                    <a class="btn btn-outline-primary rounded-right" [routerLink]="['/login']">Login</a>
                    <a class="btn btn-primary rounded-right"[routerLink]="['/register']">SignUp</a>
            </div>
            
        </div>
    </nav>
</header>